#schedule {
    width: 56%;
    float: left;
}

.day {
    width: 15%;
    float: left;
    margin-left: 2%;
}

.time {
    width: 15%;
    float: left;
    margin-left: 1%;
}

#add_schedule {
    width: 10%;
    text-align: center;
    font-size: large;
    font-weight: bold;
    margin-left: 1%;
}